<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ean.mobile"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application android:label="@string/app_name"
                 android:name=".SampleApp">
        <activity android:name=".activity.StartupSearch"
                  android:label="@string/app_name"
                  android:icon="@drawable/launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                       android:value=".activity.SearchableActivity" />
        </activity>
        <activity android:name=".activity.HotelList"/>
        <activity android:name=".activity.HotelInformation"/>
        <activity android:name=".activity.BookingSummary"/>
        <activity android:name=".activity.ReservationDisplay"/>
    </application>
    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true" />

</manifest>
